/* Purples & Pinks */
$purple: #622a8b;
$light-purple: #a24998;
$pink: #e30087;

/* Oranges & Reds */

$red: #e01a22;
$orange: #ee6321;
$light-orange: #f7a017;

/* Other Colours */

$yellow: #ffde17;
$green: #a3cd3a;
$blue: #2d3d8e;

$copy: #555555;